{{!-- < main --}} <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/lib/highlight/github.css">
    <div class="container article-container">
        <div class="article-title">
            <div class="main-title">
                <h1>{{post.Title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="article-info">
                    <h4>
                        {{#each post.Labels}}
                        <span class="label label-default">{{this}}</span>
                        {{/each}}
                    </h4>
                    <div class="date-author">
                        <span class="date">
                            <script>writeTime("{{post.CreateTime}}")</script> </span><span>&nbsp</span><a href="#">PakhoLeung</a>
                    </div>
                    <div class="summary">
                        <p>{{post.Summary}}</p>
                    </div>
                </div>

                <hr>

                <div id="article-content" class="article-content">
                    {{{post.Content}}}
                </div>

            </div>


            <div class="container col-md-2">
                <div class="sidebar">
                    <div class="about">
                        <h5>About</h5>
                        <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet
                            fermentum.
                            Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="archives">
                        <h5>Archives</h5>
                        <ul>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>

                        </ul>
                    </div>
                    <div class="elsewhere">
                        <h5>Elsewhere</h5>
                        <ul>
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>

            </div>


        </div><!-- row -->



    </div><!-- container -->

    {{> footer}}
    <script src="/js/lib/highlight.pack.js"></script>
    <script src="/js/article/content.js"></script>
    <script src="/js/article/sidebar.js"></script>