{{!-- < main --}} <div class="container">
  <link rel="stylesheet" href="/css/index.css">
  <div class="row">
    <div class="col-md-9">
      <div class="article-list-wrapper">
        <ul class="list-group article-list">
          {{!-- 生成文章 --}}
          
          {{#each postlist}}
          <li class="list-group-item article">
            <a href="/article/{{_id}}" class="article-title">
              <h3 class="list-group-item-heading">{{Title}}</h3>
            </a>
            <p class="list-group-item-text article-summary">{{Summary}}<a href="/article/{{_id}}">read
                more</a></p>
            <div class="label-group">
              
              {{#each Labels}}
              <a type="button" class="label label-default">{{this}}</a>
              {{/each}}
            </div>
            <div class="date-author">
              <span class="date">
                <script>writeTime("{{CreateTime}}")</script></span><span>&nbsp</span><a href="/">PakhoLeung</a>
            </div>
            <div class="view-count"><span>view:</span><span>{{ViewCount}}</span></div>
          </li>
          {{/each}}
        </ul>
      </div>


      {{!-- sidebar --}}

    </div>
    <div class="col-md-3">

      <div class="index-sidebar">


        <ul class="list-group">
          <a href="/" class="list-group-item">
            <span class="badge">5</span>
            <span>All</span>
          </a>
          {{#each categories}}
          <a href="/{{Alias}}" class="list-group-item">
            <span class="badge">5</span>
            <span>{{CateName}}</span>
          </a>
          {{/each}}
        </ul>


      </div>

    </div>
  </div>

  </div>

  {{> footer}}

  <script src="/js/index/index-sidebar.js"></script>